body {
  background-color: #f8f8f8;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}

#header {
  height: 70px;
  width: 100vw;
  margin-bottom: 50px;
  background-color: #34495e;
  display: flex;
  flex-direction: row;
}

#header > div {
  height: 70px;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  margin: 0px 20px;
  color: #ffffff;
  font-size: 2em;
}

#header > #header-page-tagline {
  font-weight: 300;
  color: rgba(88,214,255,0.4);
}

#header > #header-page-by {
  color: rgba(88,214,255,0.4);
}

#header-page-by > a {
  color: #ffffff;
  text-decoration: none;
}
#header-page-by > a > #link-inside {
  color: #ffffff;
  text-decoration-skip: ink;
  text-decoration: underline;
  text-decoration-color: rgba(88,214,255,0.4);
}

#app {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(120px,auto) 1fr;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.box {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box-header {
  width: 100%;
  border-bottom: 1px solid #00c0ff;
  height: 40px;
  background-color: #00c0ff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid #00c0ff;
  border-top: 1px solid #00c0ff;
  border-right: 1px solid #00c0ff;
  box-sizing: border-box;

  color: #ffffff;
  /* text-align: center; */
  padding-left: 50px;
  line-height: 40px;
  vertical-align: middle;
}

.box-content {
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  flex: auto;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box-content:first-child {
  border-top: 1px solid #e8e8e8;
}


#box-scramble {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#scramble-text {
  font-size: 1.5em;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#box-timer {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  display: flex;
  flex-direction: vertical;
}

#box-timer-top {
  text-align: center;
  flex: 1;
}

#box-timer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

#box-timer-bottom > div {
  width: 100%;
  background-color: #f8f8f8;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}

#get-new-scramble {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0,0,0,0);
  color: #00c0ff;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: none;
}

#get-new-scramble:focus {
  outline:0;
}

#get-new-scramble:hover {
  background-color: #eeeeee;
}

#get-new-scramble:active {
  background-color: #00c0ff;
  color: #ffffff;
}

#box-timer-text {
  font-size: 5em;
}

.box-timer-text-inspection {
  
}

.box-timer-text-timer {
  
}

.box-timer-text-inspection-penalty {
  color: #ff0000
}

#box-stats {
  grid-column: 2 / 2;
  grid-row: 1 / 3;
}

#box-stats > .box-content {
  padding: 0px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

.list-header {
  margin-right: 10px;
  color: #aaaaaa;
}

.list-data {
  font-weight: 600;
}

.list-data-empty {
  color: #aaaaaa;
}

#times-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: none;
  grid-auto-rows: min-content;
  grid-row-gap: 3px;
  margin: 0px 20px;
  padding: 10px 0px;
  flex: 1;
}

#solve-info {
  border-top: 1px solid #cccccc;
  background-color: #eeeeee; 
  padding: 10px 20px;
}

#solve-info-scramble {
  min-height: 50px;
}

#solve-buttons {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#solve-buttons > button {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: none;
}

#solve-buttons > button:focus {
  outline: none;
}

#solve-buttons-delete {
  background-color: #e74c3c;
}
#solve-buttons-delete:hover {
  background-color: #c0392b;
}
#solve-buttons-delete:active {
  color: #e74c3c;
  background-color: #ffffff;
}

#solve-buttons-penalty {
  background-color: #9b59b6;
}
#solve-buttons-penalty:hover {
  background-color: #8e44ad;
}
#solve-buttons-penalty:active {
  color: #9b59b6;
  background-color: #ffffff;
}

#session-info {
  border-bottom: 1px solid #eeeeee;
  margin: 0px 20px;
  padding: 10px 0px;
}

.averages-data {
  text-transform: uppercase;
}

.time {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  background-color: green;
  user-select: none;
}